/*
Theme Name: KenzieFlix
Author: Kenzie Academy
Author URI: kenzie.com.br;
Version: 1.0
 
--------------------------------------------
SUGESTÃO DE ESTRUTURAÇÃO BASE 
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
*/

/* VARIÁVEIS */
:root{
  
}

/*BODY*/
	body{

	}

/*TOPO*/
	header.topo{
		
	}

/*RODAPÉ*/
	

/*PÁGINA INICIAL*/
	div.pg-home{
		
	}

